* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 37%;
    margin: auto;
    text-align: center;
    line-height: 5vh;
    margin-top: 6px;
    font-size: 1.5vw;
    color: grey;
}

.container label div {
    width: 44px;
    height: 40px;
    background-color: #e7c8cd;
}

.container label:hover div {
    background-color: rgb(243, 148, 164);
    cursor: pointer;
}

.container input {
    display: none;
}

.container input:checked~div {
    background-color: rgb(127, 127, 230);
}

main {
    width: 58%;
    margin: auto;
    margin-top: 2%;
}

.images {
    width: 57%;
    margin: auto;
    top: 5px;
    margin-top: 2%;
}

img {
    width: 750px;
    height: 500px;
}